@import 'variables';

.masthead-content-split {
  height: 100%;
  display: flex;
  flex-direction: column;

  .masthead {
    flex: 0 0 auto;
  }
}

.masthead-content-split__content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: $off-white;

  > div {
    flex: 1 1 auto;
  }
}
